@model SIMCMD.Models.ManualFileUpload

@{
    ViewData["Title"] = "Custom Report";
    Layout = "~/Views/Shared/_LayoutAcc.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Manual File Upload</h4>
                </div>
                <div class="card-body">
                     <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FileName" class="control-label">File Name</label>
                            <input asp-for="FileName" class="form-control" />
                            <span asp-validation-for="FileName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Provider" class="control-label">Provider</label>
                            <input asp-for="Provider" class="form-control" />
                            <span asp-validation-for="Provider" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="fileUpload" class="control-label">Upload File</label>
                            <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" asp-for="IsFileUploaded" id="IsFileUploaded" />
                            <label class="form-check-label" for="IsFileUploaded">
                                @Html.DisplayNameFor(model => model.IsFileUploaded)
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" asp-for="IsFileUnwraped" id="IsFileUnwrapped" />
                            <label class="form-check-label" for="IsFileUnwrapped">
                                @Html.DisplayNameFor(model => model.IsFileUnwraped)
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" asp-for="IsFileConverted" id="IsFileConverted" />
                            <label class="form-check-label" for="IsFileConverted">
                                @Html.DisplayNameFor(model => model.IsFileConverted)
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" asp-for="IsFileImported" id="IsFileImported" />
                            <label class="form-check-label" for="IsFileImported">
                                @Html.DisplayNameFor(model => model.IsFileImported)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="FileLog" class="control-label">File Log</label>
                            <input asp-for="FileLog" class="form-control" />
                            <span asp-validation-for="FileLog" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>